@use 'variables' as *;

footer {
    background-color: $dark;
    color: #ccc;
    padding: 30px 10px;

    h4 {
        color: $white;
        font-size: 1.1rem;
    }

    #map {
        height: 230px !important;
        border-radius: 12px;
        max-width: 400px;
        margin: 15px auto;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
        font-size: 0.85rem;
    }

    a {
        color: rgb(175, 175, 175);
        font-weight: normal;
        text-decoration: none;
    }

    a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}