@use 'variables' as *;
.form-container {
    background: $glass-blue;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 420px;
}

.email-input, .password-input, .custom-input {
    border-radius: 10px;
    border: 1px solid rgba($white, 0.3);
    background-color: rgba($white, 0.2);
    color: $white;
    transition: all 0.3s ease;

    &:focus {
        background: rgba($white, 0.3);
        outline: none;
        box-shadow: none;
        color: $white;
    }

    &::placeholder { color: rgba($white, 0.7); }
}

.btn-custom {
    background-color: $white;
    color: $primary;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}