// base.scss
@import 'variables';
@import 'navbar';
@import 'hero';
@import 'section';
@import 'buttons';
@import 'footer';
@import 'form';
@import 'faq';
@import 'cards';

body {
  font-family: $font-family;
  background-color: $background-body-dark;
}

a {
  color: rgb(175, 175, 175);
  font-weight: normal;
  text-decoration: none;

  &:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
}