@import 'variables';

#contact-card {
  background: rgba(0, 123, 255, 0.6) !important;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  color: white;
}

.card-body{
  color:white;
  max-width: 520px;
}