body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgba(85, 187, 198, 0.80);
    backdrop-filter: blur(5px);
    height: 100px;
}

.logo-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
}

.usuario-container {
    margin-right: 20px;
}

.usuario-img {
    width: 45px;
    height: auto;
}

.login-card {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn-custom {
    background-color: #4fc3d4;
    border: none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}

.btn-custom:hover {
    background-color: #35a9b8;
}

/* Footer */

.seccion-azul {
    background-color: rgba(85, 187, 198, 0.80);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 5%;
    padding: 5%;
    align-items: start;
}

.footer-col h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-col p {
    margin: 6px 0;
    cursor: pointer;
}

.footer-col p:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 220px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 0.95rem;
}

.footer-social i {
    font-size: 1.4rem;
    margin-left: 12px;
    cursor: pointer;
}

.logo-footer {
    width: 460px;
    max-width: 650px;
    height: auto;
}

/* Responsivo */
@media (max-width: 950px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    
        .footer-col {
            width: 50%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
        }
        
        .footer-col:first-child {
            width: 100%;
            align-items: center;
            margin-bottom: -10%;
        }

        .footer-col:not(:first-child) {
            margin-top: 5%;
        }

        .logo-footer {
            width: 75%;
            height: auto;
        }
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .footer-content {
        padding: 0 10px;
    }

    .footer-logo {
        width: 80px;
    }
}
