$font-family: 'Poppins', sans-serif;
$color-primary: #007bff;
$color-white: #fff;
$color-black: #000;
$background-body: #f8f9fa;
$background-body-dark: black;

$btn-primary-bg: #ff7e5f;
$btn-primary-hover-bg: #eb6750;

$footer-bg-color: #222;
$footer-text-color: #ccc;

$map-height: 230px !important;
$map-max-width: 400px;

$faq-background: rgba(0, 123, 255, 0.85);
$faq-border-color: rgba(255,255,255,0.3);
$faq-answer-max-height: 500px;